{% extends "layout.html" %}

{% block title %}
    ChangePassword
{% endblock %}

{% block main %}
    <form action="/passwordchange" method="post">
        <div class="form-group">
            <input id="o_pass" class="form-control" name="o_password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input id="n_pass" class="form-control" name="n_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input id="cn_pass" class="form-control" name="confirm_n_pass" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <script>
        document.querySelector('form').onsubmit = function(){
            if (!document.querySelector('#o_pass').value)
            {
                alert('You must provide Old Password!');
                return false;
            }
            if (!document.querySelector('#n_pass').value)
            {
                alert('You must provide New Password!');
                return false;
            }
            if (!document.querySelector('#cn_pass').value)
            {
                alert('You must confirm New Password!');
                return false;
            }
            return true;
        };
    </script>
{% endblock %}
